#listeSem {
  max-height: 400px;
  overflow-y: scroll;
}
.listeDetails {
  max-height: 300px;
  overflow-y: scroll;
}
#logoMazePetit{
  height: 60px;
  width: 400px;
}
.loading{
  color: black;
}
.jBox-Modal .jBox-title {
  background-color: #6c757d;
}
.btnIco{
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
  font-size: 24px; 
}

.empty-message {
  padding: 5px 10px;
  text-align: center;
}
.tt-menu {
  max-height: 150px;
  background-color: #3a3b3b;
  overflow-y: auto;
}
.twitter-typeahead {
  width: 100%;
}
.tt-hint {
  width: 100%;
}
.tt-input {
  width: 100%;
}
.ChaoticumPapillonae {
  background: url(https://samszo.univ-paris8.fr/ChaoticumPapillonae/CreaPapiDynaAnim.php?anim=0&larg=200&haut=200&id=svgPapiLogo);
  background-size: cover;
  height: 164px;
  width: 100%;
}